<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Arac_Takip_v1._00.Properties.Settings.AracTakipDBConnectionString"
            connectionString="Data Source=DESKTOP-CERPUAK\SQLEXPRESS;Initial Catalog=AracTakipDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="localhost_AracTakipDB_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-CERPUAK\SQLEXPRESS;integrated security=SSPI;initial catalog=AracTakipDB" />
        <add name="Arac_Takip_v1._00.Properties.Settings.AracTakipDBConnectionString1"
            connectionString="Data Source=DESKTOP-21VHGPU\SQLEXPRESS;Initial Catalog=AracTakipDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>